.results {
    background: linear-gradient(to right, #ff6666, #ffcc00);
    transition: background 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 2rem;
}

.results:hover {
    background: linear-gradient(to right, #ffcc00, #ff6666);
}

h2 {
    margin: 0;
}

.list {
    list-style: none;
    margin-top: 0;
}

.entry {
    background: linear-gradient(to right, #ff6666, #ffcc00);
    transition: background 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 0.5rem;
    margin-right: 1rem;
    border-radius: 1rem;
}

.title {
    font-weight: bold;
    color: #800080;
}

.artist {
    font-style: italic;
    color: green;
    font-weight: bold;
}