.playlist {
    background: linear-gradient(to right, #ff6666, #ffcc00);
    transition: background 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 2rem;
}

.playlist:hover {
    background: linear-gradient(to right, #ffcc00, #ff6666);
}

.list {
    list-style: none;
    margin-top: 0;
}

.entry {
    background: linear-gradient(to right, #ff6666, #ffcc00);
    transition: background 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 0.5rem;
    margin-right: 1rem;
    border-radius: 1rem;
}

.title {
    font-weight: bold;
    color: #800080;
}

.artist {
    font-style: italic;
    color: green;
    font-weight: bold;
}

.searchButton {
    width: 10rem;
    background-color: #800080;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.75rem;
    border-radius: 25px;
    cursor: pointer;
}

.inputSearch {
    width: 15rem;
    background-color: transparent;
    border: 2px solid purple;
    padding: 7px;
    font-size: 0.75rem;
    border-radius: 25px;
    outline: none;
}

.inputSearch,
.searchButton {
    margin-bottom: 10px;
}

.inputSearch::placeholder {
    color: purple;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 1rem;
    padding: 0.5rem;
    margin-right: 1rem;
    border-radius: 1rem; */
}

.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin-top: 0.5rem;
}